@use "/src/sass/base/variables.scss" as *;

.about {
    position: relative;
    min-height: 1153px;
    //height: 1080px;
    background: url('../../icons/effects/Frame_noise_wight2.png') no-repeat,
    linear-gradient(105deg, #f6f4f2 -1.15%, #f3f2f3 39.83%, #eaedf2 89.91%), radial-gradient(35.71% 35.71% at 53.57% 53.57%, rgba(250, 242, 237, 0.3) 0%, rgba(245, 242, 242, 0.11) 60%, rgba(240, 240, 245, 0) 100%);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__wrapper {
            padding-top: 150px;
            display: grid;
            grid-template-columns: 622px 1fr 402px;
            //padding-left: 18px;
        }
    
     &__title {
         position: relative;
         z-index: 1;
         padding-top: 10px;
         width: fit-content;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;

            top: -16px;
            bottom: -23px;
            left: -69px;
            right: -98px;
            background: url("/src/img/about/stroke.png") center / 100% 100% no-repeat;

    }
    }

    &__subtitle {
        margin-top: 25px;
    }


    &__grid-container {
        margin-top: 250px;
    }


    &__grid-text {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 244px);
        height: 40px;
        justify-self: start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        //  border-bottom: 1px solid $Black;
        //  opacity: 0.3;
        color: $Black;
            
        }
    
    &__grid-text:first-child::before  {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid $Black;
            opacity: 0.3;}

    &__grid-text > :nth-child(odd) {
        justify-self: start;
            margin-top: 10px;
                // align-self: center;
            }

    &__grid-text  > :nth-child(even) {
            justify-self: end;
            margin-top: 10px;
            // align-self: center;
        }

    // &__content-right {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    // }

    &__content {
        width: 402px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;
        margin-left: auto;
        gap: 320px;
    }

    &__subtitle-right {
        margin-bottom: 15px;
    }

    &__text {
        // margin-top: 15px;
        letter-spacing: -0.03em;
        color: $Black;
    }
    &__subtext {
        margin-top: 55px;
        text-align: end;
        letter-spacing: -0.02em;
        color: $Black;
        // color: rgba(0, 0, 0, 0.6);
    }

    &__text-weight {
        font-weight: 700;
    }

    &__collge-picture {
        position: relative;
        width: 667px;
        height: 752px;
        // left: 50%
        // transform: translateX(-38%);
        //margin-top: 12px;
        z-index: 1;
        // left: 702px;
    }

    &__card3 {
        position: absolute;
        width: 478px;
        height: 515px;
        left: 50px;
        // rotate: $rotate;
        
    }

    &__card3-frame{
        position: absolute;
        width: 100%;
        height: 100%;
  
    }

    &__frame3-img{
        position: absolute;
        top: 25px;
        left: 15px;
    }

     &__card3-img {
        width: 100%;
        height: 100%;

    }

    &__card2 {
        position: absolute;
        width: 534px;
        height: 576px;
        top: 100px;
        left: 135px;
        
    }

    &__card2-frame {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__card2_1-frame {
        position: absolute;
        width: 502px;
        height: 541px;
        // padding: 29px 17px 6px 15px;
        top: 25px;
        left: 15px;
    }

    &__card2-img {
        position: absolute;
        // width: 100%;
        // height: 100%;
        // padding: 29px 17px 6px 15px;
        top: 25px;
        left: 15px;
        z-index: 2;
        background: $Gray-400;
        // object-fit: cover;
        // top: 291px;
        // left: 852px;
    }

     &__card1 {
        position: absolute;
        width: 570px;
        height: 631px;
        top: 200px;
        left: 0px;
        z-index: 3;
    }
    &__card1-smile {
        position: absolute;
        // width: 113px;
        // height: 119px;
        bottom: 30px;
        left: 125px;
        z-index: 4;
    }

     &__card1-text1 {
        position: absolute;
        // width: 210px;
        // height: 160px;
        bottom: 30px;
        left: 320px;
        z-index: 5;
    }

     &__card1-text2 {
        position: absolute;
        // width: 202px;
        // height: 186px;
        bottom: 5px;
        left: 455px;
        z-index: 4;
    }

    &__card1-img {
        position: absolute;
        // width: 457px;
        // height: 392px;
        bottom: 155px;
        left: 20px;
        z-index: 4;
    }
    &__card1-img1 {
        position: absolute;
        top: -10px;
        left: -80px;
        z-index: 4;

    }

    &__card4-img2 {
        position: absolute;
        top: -10px;
        left: 540px;
        z-index: -1;
    }

     &__card4-img3 {
         position: absolute;
        top: 645px;
        left: 525px;
        // z-index: ;

    }

    &__animation {
        cursor: pointer;

        transition:
            transform 0.4s ease,
            top 0.6s ease,
            left 0.6s ease,
            width 0.6s ease,
            height 0.6s ease;

            // transform: rotate($rotate);
            transform-origin: center;

        &:not(.is-active):hover {
            transform:  translateY(-12px) scale(1.05);
            // z-index: 20;
    }
    }

    &__animation.is-active {
    position: fixed;

    top: 50%;
    left: 50%;


    transform: translate(-50%, -50%) rotate(0deg) scale(1.4);
    z-index: 1000;
    }

     &::after {
        content: "";
        position: absolute;
        inset: 0;

        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        opacity: 0;
        pointer-events: none;

        transition: opacity 0.3s ease;
        z-index: 50;
    }

    &:has(.is-active)::after {
        opacity: 1;
    }

    &__collge-picture:has(.is-active) {
    z-index: 100;
}

}
