@use "/src/sass/base/variables.scss" as *;

.hero {
    position: relative;
    min-height: 1080px;
    //height: 1080px;
    background: url('../../icons/effects/Frame_noise.png') repeat,
    linear-gradient(135deg, rgba(236, 204, 178, 0.35) -7.42%, rgba(20, 15, 13, 0.15) 21.15%, rgba(13, 13, 15, 0.08) 42.58%, rgba(15, 18, 26, 0.12) 64.01%), 
    radial-gradient(41.67% 41.67% at 16.67% 50%, rgba(41, 31, 23, 0.12) 0%, rgba(20, 15, 13, 0.06) 45%, rgba(10, 10, 10, 0) 100%),
    $bg-main-dark;

    &__title {
        position: absolute;
        top: 504px;
        left: 0;
        margin: 0;
        span {
             margin-left: 454px;
        }
    }
    &__content-left {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__hand-img {
            display: block;
            width: 1032px;
            height: 1102px;
            position: absolute;
            top: -22px;
            left: 406px;
            
    }

    &__subtitle {
        position: absolute;
        width: 402px;
        top: 436px;
        left: 0;
        margin: 0;
    }

    &__content-right {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: absolute;
        top: 506px;
        right: 0;
        width: 401px;
    }

    &__content-block {
        display: flex;
        flex-direction: column;
        row-gap: 141px;
        h2 {
            letter-spacing: -0.03em;
        }
    }

    &__content-subtitle {
        letter-spacing: -0.03em;
        span {
            font-weight: 700;
        }
    }

    &__content-btn{
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }

    &__content-text {
        position: absolute;
        bottom: 40px;
        right: 80px;
        color: rgba(255, 255, 255, 0.6);
        
    }
}