@use "/src/sass/base/variables.scss" as *;

.service {
    position: relative;
    min-height: 1080px;
    //height: 1080px;
    background: url('../../icons/effects/Frame_noise.png') no-repeat,
    linear-gradient(105deg, #f6f4f2 -1.15%, #f3f2f3 39.83%, #eaedf2 89.91%), radial-gradient(35.71% 35.71% at 53.57% 53.57%, rgba(250, 242, 237, 0.3) 0%, rgba(245, 242, 242, 0.11) 60%, rgba(240, 240, 245, 0) 100%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &__title {
         padding-top: 150px;

    }
    &__table {
        margin-top: 40px;
    }

    &__grid-container--title{
        display: grid;
        grid-template-columns: 330px 290px 1fr 400px;
        gap: 24px;
        height: 40px;
        width: 1760px;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: $Gray-600;
        align-items: center;
        letter-spacing: -0.03em;

    }
    
    &__grid-container {
        display: grid;
        grid-template-columns: 330px 290px 1fr 400px;
        gap: 24px;
        height: 40px;
        width: 1760px;
     
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: $White;
        letter-spacing: -0.03em;
        align-items: center;

        cursor: pointer;
        transition:
            background-color 0.3s ease,
            color 0.3s ease;

        &_active {
        span:not(:empty) {
            background-color: $Gray-300;
            color: $Black;
        }

        span {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
    }

    &__wrapper-img {

        position: relative;
        width: fit-content;
        margin-top: -470px;
        margin-left: 670px;
        opacity: 0;
        transform-origin: center center;


        &_active {
            animation: showPhoto 2s ease forwards;
            opacity: 1;
        }
        

        &::before {
		content: "";
		display: block;
		position: absolute;
        left: 350px;
		top: -40px;
		width: 119px;
		height: 109px;
		background: url("/src/img/service/bow.png") center center / cover no-repeat;}
        z-index: 2;
        pointer-events: none;

    }

    &__img {
        display: block;
       
        width: 420px;
        height: 563px;
       
    }

    &__content-text{
        margin-top: 125px;
        text-align: end;
        color: rgba(149, 149, 149, 0.6);

    }


}