@use "/src/sass/base/variables.scss" as *;

.works {
    position: relative;
    min-height: 1080px;
    //height: 1080px;
    background: url('../../icons/effects/Frame_noise_wight.png') no-repeat,
    linear-gradient(105deg, #f6f4f2 -1.15%, #f3f2f3 39.83%, #eaedf2 89.91%), radial-gradient(35.71% 35.71% at 53.57% 53.57%, rgba(250, 242, 237, 0.3) 0%, rgba(245, 242, 242, 0.11) 60%, rgba(240, 240, 245, 0) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);


    &__person {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-55%);
        width: 836px;
        height: 1080px;
    }
        &__wrapper {
            padding-top: 150px;
            //padding-left: 18px;
        }

        &__content {
            display: grid;
            grid-template-columns: 1fr 402px;
            //padding-left: 18px;
        }


    &__title {
         position: relative;
         z-index: 1;
         padding-top: 21px;
         padding-left: 15px;
         width: fit-content;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;

            top: -1px;
            bottom: -22px;
            left: -57px;
            right: -73px;
            background: url("/src/img/works/stroke.png") center / 100% 100% no-repeat;

    }
    }

    &__subtitle {
       
        margin-top: 22px;
    
    }

    &__content-btn {
        margin-top: 142px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 402px;

    }

    &__text {

        letter-spacing: -0.03em;
        color: $Black;
    }

    &__subtext {
        
        margin-top: 16px;
        text-align: end;
        letter-spacing: -0.02em;
        color: rgba(0, 0, 0, 0.6);
    }

    &__fotoribbon {
        width: 100%;
         overflow-x: hidden;
        //top: 555px;
    }

    &__fototrack {
        
        display: flex;
        gap: 17px;
        margin-top: 39px;
        //margin-left: -24px;
       
		animation-name: fototrack;
		animation-duration: 30s;
		animation-iteration-count: infinite;
        animation-timing-function: linear;
        will-change: transform;
        // position: absolute;
        // left: 0;
    }

    &__fotoblock{
        position: relative;
        width: 275px;
        height: 216px;
        flex-shrink: 0;
    }

    &__fotoframe{
        position: absolute;
        width: 275px;
        height: 216px;
        //top: 555px;
        //left: -80px;
        //right: -80px;
    }

    &__fotoimg {
        position: absolute;
        width: 261px;
        height: 201px;
        top: 7px;
        left: 7px;
        //right: -80px;
        z-index: 1;
    }
}   