$Black: #000000;
$White: #FFFFFF;
$Gray-900: #171515;
$Gray-800: #1E1E1E;
$Gray-700: #222222;
$Gray-600: #404040;
$Gray-500: #555555;
$Gray-400: #939393;
$Gray-300: #D3D3D3;
$Gray-200: #D9D9D9;
$Gray-100: #F2F2F2;

$Red: #FF0000;
$Red-Dark: #681819;

$Error: #FF0000;
$Success: #00B450;

$Black-50: #000000;
$Black-60: #000000;

$White-50: #FFFFFF;
$White-60: #FFFFFF;
$bg-main-dark: #171515;

$font-main: "JetBrains Mono", sans-serif;
$font-h: "Anton", sans-serif;
