@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-hero {
	@include button;
	width: 401px;
    height: 66px;
    background: $White;
	color: $Black;
	padding: 0;
    border: none;
}

.btn-works {
	@include button;
	width: 402px;
    height: 66px;
    background: $Black;
	color: $White;
	padding: 0;
    border: none;
}